html, body { 
    height:100%; 
    margin:0;
    padding:0;
  }
  
  .flex-container {
    display:flex;
    flex-direction: row;
    min-height:100%;
  }
  
  .flex-container > div {
    display:flex;
  }
  
  .fila0 { 
    background:#91E7C6;
    flex-basis: 350px }
  .fila1 { background:whitesmoke }